/platforms/*
!/platforms/android/
/platforms/android/*
!/platforms/android/phonegap-plugin-barcodescanner/
!/platforms/android/libs/

/plugins/*
!/plugins/phonegap-plugin-barcodescanner

lib/
www/lib
__pycache__/
node_modules/
www/css/index.css
www/css/index.min.css

*.swo
*.swp

.DS_Store
.cache
.python-version

*.keystore
*.apk
